footer
    background $azul
    .center
        clearfix()
        height 100%
        padding 40px 0
        background $img('marca-dagua-gm.png') no-repeat 80% center
        +mobile()
            background none
            padding 25px 0
    .info
        float left
        max-width 420px
        +mobile()
            width 100%
        p
            margin 0
            color #fff
            padding-left 30px
            raleway 14
            &.endereco
                background $img('rodape-endereco.png') no-repeat left 3px
            &.telefones
                margin-top 15px
                background $img('rodape-telefone.png') no-repeat left 5px
                span
                    display block
    nav
        float left
        margin-left 70px
        +below($tablet)
            display none
        a
            display block
            raleway 13
            color #fff
            margin-bottom 4px
            &:before
                content '\00b7'
                margin-right 4px
            &:hover
                color $azulDestaque
    .copyright
        float right
        text-align right
        +mobile()
            width 100%
            text-align left
            margin-top 30px
        .facebook
            display inline-block
            text-align left
            width 28px
            height 28px
            text-indent -9999px
            background $img('ico-facebook.png') no-repeat center
        p
            float right
            width 100%
            margin-top 40px
            +mobile()
                margin-top 15px
            margin-bottom 0
            color #fff
            raleway 12
