header
    background $azul
    width 100%
    > .center
        padding 30px 0
        +mobile()
            padding 20px 0
    .logo
        display block
        position relative
        width 290px
        height 110px
        margin 0 auto
        text-indent -9999px
        background $img('galrao-machtans.png') no-repeat center
        +mobile()
            width 200px
            height 76px
            background-size 100% auto
    nav
        background $azulClaro
        border-top 1px solid rgba(#fff, .2)
        text-align center
        padding 10px 0
        +mobile()
            clearfix()
            font-size 0
        a
            raleway 16
            display inline-block
            margin 0 10px
            text-transform uppercase
            color #fff
            +tablet()
                font-size 15px
                margin 0 8px
            +mobile()
                display inline-block
                vertical-align middle
                width 50%
                margin 6px 0
                font-size 14px
            &:hover
            &.active
                color $azulDestaque
