desktop-base-width     = 1100px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 740px
rupture.anti-overlap   = -1px

$azul = #1B4759
$azulClaro = #32596A
$azulDestaque = #99FFFF

@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,400i,700,700i'
raleway($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Raleway', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == extralight
        font-weight 200
    if $weight == bold
        font-weight 700
