.not-found
    width 100%
    text-align center
    padding 180px 0
    +tablet()
        padding 120px 0
    +mobile()
        padding 80px 0
    h1
        display inline-block
        padding 12px 18px
        border 2px solid $azul
        raleway 13 bold
        letter-spacing 1px
        color $azul
        text-transform uppercase
