.advogados
    h2
        border-bottom 1px solid $azulClaro
        padding-bottom .4em
        margin-bottom .6em !important
    .advogado
        clearfix()
        border-bottom 1px solid $azulClaro
        padding-bottom 30px
        margin-bottom 20px
        +mobile()
            padding-bottom 20px
        &:last-child
            border none
            padding-bottom 0
        .info
            width 40%
            float left
            background $azul
            padding 30px
            color #fff
            +tablet()
                padding 24px
            +mobile()
                width 100%
                margin-bottom 15px
                padding 18px
            h3
                margin 0 0 8px
                raleway 20 bold
                +below($tablet)
                    font-size 18px
            p
                margin 0
                raleway 14
                line-height 1.7
                +below($tablet)
                    font-size 13px
                a
                    font-weight 700
                    &:hover
                        text-decoration underline
        .texto
            width 54%
            float right
            +mobile()
                width 100%
            p
                raleway 14
                color $azul
                text-align justify
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
