.atuacao-artigos
    .center
        clearfix()
    .lista
        width 40%
        float left
        +mobile()
            width 100%
            margin-bottom 20px
            display flex
            flex-wrap wrap
            font-size 0
            a.link-aside
                display inline-block
                vertical-align top
                width calc('50% - 3px')
                padding 10px
                font-size 14px
                &:nth-child(2n)
                    margin-left 5px
                &:after
                    display none
                &.active
                    color $azul !important
                    background $azulDestaque
    .texto
        width 54%
        float right
        +mobile()
            width 100%
        p
            raleway 14
            color $azul
            text-align justify
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        a
            text-decoration underline
            &:hover
                text-decoration none
                color lighten($azul, 20)
        ul
            padding .6em 0
            list-style-type none
            raleway 14
            color $azul
            li
                display block
                position relative
                padding-left .8em
                margin-bottom .5em
                text-align justify
                &:last-child
                    margin-bottom 0
                &:before
                    content ''
                    position absolute
                    width 2px
                    height 2px
                    background $azul
                    top .5em
                    left 0
                    border-radius 100%
