.contato
    .center
        clearfix()
    .info
        width 40%
        float left
        +mobile()
            width 100%
            margin-bottom 10px
        .box
            background $azul
            padding 20px 30px
            color #fff
            margin-bottom 8px
            +below($tablet)
                padding 15px 18px
            p
                margin 0
                &.telefones
                    raleway 24 bold
                    margin-bottom 20px
                    line-height 1.3
                    +below($tablet)
                        margin-bottom 13px
                    span
                        display block
                &.endereco
                    raleway 14 bold
        .mapa
            width 100%
            height 300px
            border 1px solid $azul
            iframe
                width 100%
                height 100%
                display block
    .formulario-contato
        width 54%
        float right
        +mobile()
            width 100%

.formulario-contato
    width 100%
    background #E2E2E2
    padding 20px
    h4
        margin 0 0 8px
        raleway 20 extralight
        color $azulClaro
    input
    textarea
        width 100%
        background #fff
        border 0
        raleway 14
        padding 6px 10px
        margin-bottom 5px
        color $azul
        outline 0
        +placeholder()
            color $azulClaro
    textarea
        display block
        height 140px
        resize none
    input[type='submit']
        background $azul
        width auto
        color #fff
        margin 0
    #form-contato-response
        padding 6px
        margin-top 6px
        display none
        width 100%
        border 1px solid $azulClaro
        raleway 13 bold
        text-transform uppercase
        text-align center
        color $azulClaro
