.escritorio
    .center
        clearfix()
    .chamada
        width 40%
        float left
        +mobile()
            width 100%
            margin-bottom 20px
        p
            display block
            background $azul
            margin 0
            raleway 22
            color #fff
            padding 24px
            +tablet()
                padding 14px
                font-size 17px
            +mobile()
                padding 14px
                font-size 16px
        img
            width 100%
            height auto
            display block
            margin-top 10px
            +mobile()
                display none
    .texto
        width 54%
        float right
        +mobile()
            width 100%
        p
            raleway 14
            color $azul
            text-align justify
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        .formulario-contato
            margin-top 40px
            +mobile()
                margin-top 20px
