.home
    padding 0 0 60px
    +tablet()
        padding 0 0 40px
    +mobile()
        padding 0 0 30px
    .banners
        width desktop-base-width
        height 400px
        margin 0 auto 40px
        position relative
        +tablet()
            width 100%
            height 350px
        +mobile()
            width 100%
            height 220px
            margin-bottom 25px
        .slide
            display block
            position absolute
            background-size cover
            background-position center
            top 0
            left 0
            width 100%
            height 100%
            p
                display block
                position absolute
                width calc('100% - 60px')
                bottom 30px
                left 30px
                background rgba($azul, .65)
                text-align center
                raleway 20
                padding 20px
                color #fff
                margin 0
                +mobile()
                    width 100%
                    bottom 0
                    padding 12px
                    raleway 15
                    left 0
                +tablet()
                    padding 15px
                    raleway 18
        .cycle-pager
            width 100%
            height 6px
            position absolute
            bottom -12px
            font-size 0
            text-align center
            a
                display inline-block
                width 60px
                height 6px
                background $azul
                transition background .3s
                margin 0 1px
                &.cycle-pager-active
                    background $azulDestaque
            +mobile()
                display none
    .atuacao
        h2
            text-align center
            text-transform uppercase
            raleway 36 extralight
            color $azulClaro
            margin 0 0 15px
            +tablet()
                font-size 32px
            +mobile()
                font-size 26px
                margin-bottom 10px
        > div
            display flex
            flex-wrap wrap
            font-size 0
            a
                display inline-block
                background $azul
                raleway 18 bold
                width calc('33.33% - 4px')
                +tablet()
                    font-size 17px
                +mobile()
                    font-size 16px
                    width calc('50% - 3px')
                    &:nth-child(3n)
                        margin-right 6px !important
                    &:nth-child(2n)
                        margin-right 0 !important
                margin-right 6px
                &:nth-child(3n)
                    margin-right 0
                vertical-align top
                color #fff
                transition background .3s, color .3s
                text-align center
                margin-bottom 6px
                &:hover
                    background $azulDestaque
                    color $azulClaro
                .wrapper
                    display table
                    height 100%
                    width 100%
                    span
                        padding 28px
                        display table-cell
                        vertical-align middle
                        +tablet()
                            padding 22px
                        +mobile()
                            padding 14px
