.links
    .center
        clearfix()
    img
        width 40%
        float left
        display block
        +mobile()
            display none
    .lista
        width 54%
        float right
        +mobile()
            width 100%
a.link-aside
    display block
    background $azul
    padding 8px 40px 8px 20px
    raleway 18 bold
    color #fff
    margin-bottom 5px
    position relative
    +tablet()
        font-size 17px
    +mobile()
        font-size 15px
    &:after
        content ''
        width 30px
        height 100%
        position absolute
        top 0
        right 0
        background $img('setinha-azul.png') no-repeat center
    &:hover
    &.active
        color $azulDestaque
