.main
    padding 40px 0 80px
    background #F0F0F0
    +tablet()
        padding 30px 0 60px
    +mobile()
        padding 20px 0 25px
    h2
        raleway 36 extralight
        color $azulClaro
        margin 0 0 .8em
        +tablet()
            font-size 32px
        +mobile()
            font-size 26px
